.flmnu {
  width: 250px;
  background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #99ccbe),
    color-stop(100%, #ffffff)
  );
  background: -webkit-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -o-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCBE', endColorstr='#FFFFFF',GradientType=1 );
  color: #17603a;
  border-radius: 3px;
  z-index: 201;
  border: 1px solid #99ccbe;
  text-shadow: 0 1px 0 rgb(255 255 255 / 30%);
  position: absolute;
  margin-top: 13px;
  box-shadow: 0 0 10px #999;
  user-select: none;

  .flmuHeader {
    vertical-align: top;
    letter-spacing: 4px;
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: inherit;
    cursor: pointer;
    min-height: 38px;
  }

  #flmnuNav {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    overflow-y: scroll;
    height: calc(100vh - 130px);
  }

  #flmnuNav > ul {
    margin-top: 0px;
  }
  #flmnuNav > li {
    background-color: lightgreen;
    padding: 1px;
    border-radius: 3px;
  }
  #flmnuNav > li div {
    cursor: pointer;
    background: -moz-linear-gradient(
      0deg,
      #99ccbe 0%,
      #ffffff 100%
    ); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, #99ccbe),
      color-stop(100%, #ffffff)
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      0deg,
      #99ccbe 0%,
      #ffffff 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(
      0deg,
      #99ccbe 0%,
      #ffffff 100%
    ); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%); /* ie10+ */
    background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99CCBE', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
    font-weight: 500;
    padding: 5px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }
  #flmnuNav > li div:hover {
    text-shadow: 0px 3px 4px #999;
  }
  #flmnuNav > li div:hover > #flmnulnkArr {
    color: lightgreen;
  }
}

ion-icon {
  font-size: 21px;
  vertical-align: middle;
}

.back-drop {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 200;
  top: 0;
  left: 0;
  position: fixed;
}
