ion-toolbar {
    --background: -moz-linear-gradient(0deg, #ffffff 0%, #99ccbe 100%);
    --background: -webkit-gradient(linear,
            left top,
            right top,
            color-stop(0%, #ffffff),
            color-stop(100%, #99ccbe));
    --background: -webkit-linear-gradient(0deg, #ffffff 0%, #99ccbe 100%);
    --background: -o-linear-gradient(0deg, #ffffff 0%, #99ccbe 100%);
    --background: -ms-linear-gradient(0deg, #ffffff 0%, #99ccbe 100%);
    --background: linear-gradient(0deg, #ffffff 0%, #99ccbe 100%);
    --ion-color-base: transparent !important;
}



.well {
    padding: 5px;
    margin-bottom: 10px;
}

.loc-btn{
    // vertical-align: bottom;
    // padding-right: 5px;
    .btn-masajid{
        padding: 5px;
    }
    ion-icon{
        // color: #17603a; 
        font-size: 25px;
    }
}

ion-item {
    --border-style: none;
}
