ion-toolbar {
    --background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
    --background: -webkit-gradient(linear,
            left top,
            right top,
            color-stop(0%, #99ccbe),
            color-stop(100%, #ffffff));
    --background: -webkit-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
    --background: -o-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
    --background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
    --background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
    --ion-color-base: transparent !important;
}

.btn-masajid {
    background: -webkit-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
    background: -o-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
    background: -moz-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
    background: linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.77);
    border-radius: 4px;
    color: #17603A !important;
    padding: 10px;

    &.hover {
        background: -webkit-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
        background: -o-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
        background: -moz-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%) !important;
        background: linear-gradient(180deg, rgba(255, 245, 245, 1) 100%) rgba(180, 240, 223, 1) 0% !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.77);
        border-radius: 4px;
        color: #17603A;
    }
}

.email-text{
    font-size: smaller;
    letter-spacing: 1px;
}
.username-text{
    font-weight: 700;
    letter-spacing: 1px;
}
.user-img{
    vertical-align: bottom;
    padding-right: 5px;
    ion-icon{
        color: #17603a; 
        font-size: 45px;
    }
}
// ion-item {
//     --background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
//     --background: -webkit-gradient(linear,
//             left top,
//             right top,
//             color-stop(0%, #99ccbe),
//             color-stop(100%, #ffffff));
//     --background: -webkit-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
//     --background: -o-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
//     --background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
//     --background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
//     --ion-color-base: transparent !important;
// }