<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="hide()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 512 512"
        >
          <path
            d="M401.4 224h-214l83-79.4c11.9-12.5 11.9-32.7 0-45.2s-31.2-12.5-43.2 0L89 233.4c-6 5.8-9 13.7-9 22.4v.4c0 8.7 3 16.6 9 22.4l138.1 134c12 12.5 31.3 12.5 43.2 0 11.9-12.5 11.9-32.7 0-45.2l-83-79.4h214c16.9 0 30.6-14.3 30.6-32 .1-18-13.6-32-30.5-32z"
            fill="#17603A"
          />
        </svg>
      </ion-button>
    </ion-buttons>
    <ion-title>User profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <div class="well">
        {{ userProfile.firstName }} {{ userProfile.lastName }}<br />
        Your are signed in with: {{ userProfile.email }}<br />
        with {{ role.roleName }} permissions
      </div>
      <div>
        To change your role or to know more about anything related to masjid
        near me,<br />
        please contact us at:
        <a href="mailto:info@masjidnear.me?subject=Edit Permissions Request">
          info&#64;masjidnear.me </a
        >.
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="4">
        <!-- <ion-button>Log in</ion-button> -->
        <div class="btn-masajid" (click)="logOut()">Sign out</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
