<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="hide()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 512 512"
        >
          <path
            d="M401.4 224h-214l83-79.4c11.9-12.5 11.9-32.7 0-45.2s-31.2-12.5-43.2 0L89 233.4c-6 5.8-9 13.7-9 22.4v.4c0 8.7 3 16.6 9 22.4l138.1 134c12 12.5 31.3 12.5 43.2 0 11.9-12.5 11.9-32.7 0-45.2l-83-79.4h214c16.9 0 30.6-14.3 30.6-32 .1-18-13.6-32-30.5-32z"
            fill="currentColor"
          />
        </svg>
      </ion-button>
    </ion-buttons>
    <ion-title>User profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input
            [(ngModel)]="email"
            aria-readonly="true"
            readonly
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>First name:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            [(ngModel)]="userProfile.firstName"
            aria-readonly="true"
            readonly
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Last name:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            [(ngModel)]="userProfile.lastName"
            aria-readonly="true"
            readonly
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Phone:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            [(ngModel)]="userProfile.phone"
            aria-readonly="true"
            readonly
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Role:</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input
            [(ngModel)]="role.roleName"
            aria-readonly="true"
            readonly
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="4">
        <!-- <ion-button>Log in</ion-button> -->
        <div class="btn-masajid" (click)="logOut()">Log out</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
