<div id="timings" *ngIf="!_locationService.mapMode()" class="timings-container" [ngStyle]="{'margin-top': osVersion >= 15 ? '38px' : ''}">
  <div class="widgetContainer" *ngIf="stbArray.length > 0">
    <div id="timesObject" style="display: none">18:01</div>
    <div class="load">{{ hijriDate }}</div>
    <ng-container *ngFor="let item of stbArray; let i = index">
      <div class="stb">
        {{ item.name }}<br />{{ item.val }}
      </div>
      <span class="divider" *ngIf="i < stbArray.length - 1"></span>
    </ng-container>
  </div>
  <div class="widgetContainer" *ngIf="stbArray.length === 0">
    <div class="load">Loading salaah times...</div>
  </div>
</div>