.timings-container {
font-family: monospace;
    font-weight:600;
    z-index: 999;
    position: absolute;
    top: 3.5%;
    // left: calc(45% - 99px);
    border-radius:3px;
        left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.widgetContainer{
    /*max-width:317px;*/
    padding-top: 10px;
    margin: 0 auto;
    background: -webkit-linear-gradient(180deg, rgb(205, 227, 221) 0%, rgb(205 227 221) 100%);
    background: -o-linear-gradient(180deg, rgb(205, 227, 221) 0%, rgb(205 227 221) 100%);
    background: -moz-linear-gradient(180deg, rgb(205, 227, 221) 0%, rgb(205 227 221) 100%);
    background: linear-gradient(180deg, rgb(205, 227, 221) 0%, rgb(205 227 221) 100%);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    
}
.stb{
    border-radius: 3px;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    vertical-align: middle;
    cursor: default;
    margin: 3px 5px 0px;	
}
.active {
    color:#999;
}

.load {
    padding-top: 2px;
    text-align: center;
    font-weight: 700;
}
.divider {
    border-right: 1px solid #999;
}
