/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  color: darkgreen;
  text-decoration: none;
}



.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wght' 400;
}

ion-title {
  color: #17603a;
}

ion-menu-button {
  color: #17603a;
}

#btnReset {
  position: fixed;
  bottom: 30px;
  right: 88%;
  z-index: 2;
  /*width: 28px;
  height: 28px;*/
  border-radius: 50%;
  background: darkgreen;
  position: absolute;
  cursor: pointer;
  box-shadow: 0px 1px 3px #666;
}

#btnReset #blRing {
  top: 15%;
  left: 15%;
  width: 72%;
  height: 72%;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}

#btnReset #blRing #wRing {
  top: 18%;
  left: 18%;
  width: 64%;
  height: 64%;
  position: relative;
  border-radius: 50%;
  background-color: darkgreen;

}

.plus {
  color: #fff;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  line-height: 13px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  width: 100%;
}

.toastClass {
  color: #17603a;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  width: 65%;
  margin-left: calc(24% - 20px);
}