<div id="splash" *ngIf="showSplash">
  <img src="../../assets/images/logo.png" alt="logo" />
  <br />
  <div style="color: darkgreen;padding: 0px 12px 0px 12px;" id="splashText">
    {{ splashText }}<br /><br />
    {{ splashTextExtra }}<br />
    <!-- <div style="padding-top: 19px; color: darkgreen" id="btnLocDiv1" [hidden]="isLocationEnabled">
      Please
      <button class="btn-masajid" (click)="showLocationSettings()">
        enable
      </button>
      your location services
    </div> -->
    <div style="padding-top: 19px; color: darkgreen" id="btnLocDiv2" [hidden]="locationPermissionFailed">
      Please give
      <button class="btn-masajid" (click)="_navigateToDashboardWithoutLocation()">
        provide your location
      </button>
      to use your location
    </div>
  </div>
</div>
<app-timing-widjet *ngIf="isLocationEnabled"></app-timing-widjet>
<div id="divOffline" class="offline" [hidden]="connected">You are offline</div>
<ion-menu *ngIf="isLocationEnabled" contentId="main-content" (ionWillOpen)="menuWillOpen()">
  <div class="menu">
    <div style="text-align: center; margin-top: 12px">
      <img src="../../assets/images/logo.png" alt="Masjid near me" />
    </div>
    <ul id="mnuNav">
      <li *ngFor="let item of mnuItems" (click)="menuClick(item)">
        <div>
          {{item.name}}
          <ion-icon name="{{item.icon}}" style="vertical-align: middle"></ion-icon>
        </div>
      </li>
      <li class="version" (click)="showAppVersion()">
        <div>
          <ion-icon name="information-circle-outline"
            style="vertical-align: middle;font-size: 18px;padding-right: 9px;"></ion-icon>
          <span>Version: {{version}}</span>
        </div>
      </li>
    </ul>
  </div>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-loader></app-loader>
  <ion-header style="background-color: transparent">
    <ion-toolbar style="background-color: transparent;" [ngStyle]="{'padding-top': osVersion >= 15 ? '32px' : ''}" *ngIf="isLocationEnabled">
      <ion-buttons slot="start">
        <ion-menu-button style="color: #17603a;"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end" (click)="popSearch()">
        <ion-icon name="search-outline" style="font-size: 36px; vertical-align: middle;color: #17603a;"></ion-icon>
      </ion-buttons>
      <!--<ion-buttons slot="end" (click)="showCompass()">
        <ion-icon name="compass" style="vertical-align: middle"></ion-icon>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  <app-map></app-map>
  <div class="whatsnew" id="whats-new" *ngIf="showingAppVersion" ClickOutside (clickOutside)="hideWhatsNew()">
    <table>
      <th>What's new</th>
      <tr>
        <td>
          * Search for masjids by cities, and states.
        </td>
      </tr>
      <tr>
        <td>
          * Map localtion optimized for easy search.
        </td>
      </tr>
      <tr>
        <td>
          * Location caching for faster load times and offline use.
        </td>
      </tr>
      <tr>
        <td>
          <a href="https://play.google.com/store/apps/details?id=me.masjidnear" target="_blank">
            <div style="padding-top: 12px; font-size: 12px;">
              rate us
              <ion-icon name="star" style="font-size: 12px;"></ion-icon>
              <ion-icon name="star" style="font-size: 12px;"></ion-icon>
              <ion-icon name="star" style="font-size: 12px;"></ion-icon>
              <ion-icon name="star" style="font-size: 12px;"></ion-icon>
              <ion-icon name="star" style="font-size: 12px;"></ion-icon>
            </div>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <app-pop-search [showSearch]="showSearch" (searchHidden)="onSearchHidden()"
    (resultSelected)="onSearchResultSelected($event)"></app-pop-search>
  <ng-container *ngIf="!isLocationEnabled">
    <div class="no-location">
      <div class="no-location-content">
        <div class="no-location-title">Location not found</div>
        <div class="no-location-sub-title">This app needs to know your location to work properly.</div>
        <div class="button-grid" style="display:grid; grid-template-columns: repeat(2, 1fr); gap: 12px; padding: 12px;">
          <button class="btn-masajid" style="aspect-ratio: 1 / 1; width: 100%;letter-spacing: 1px;" (click)="enableLocation()">
            <ion-icon name="location" style="font-size: 32px; vertical-align: middle;"></ion-icon><br>
             Enable your current location 
          </button>
          <!-- <button class="btn-masajid" style="aspect-ratio: 1 / 1; width: 100%;letter-spacing: 1px;">
            <ion-icon name="compass" style="font-size: 32px; vertical-align: middle;"></ion-icon><br>
             Show Compass
          </button> -->
          <button class="btn-masajid" style="aspect-ratio: 1 / 1; width: 100%;letter-spacing: 1px;" (click)="popSearch()">
            <ion-icon name="search" style="font-size: 32px; vertical-align: middle;"></ion-icon><br>
             Search for Masjids near you
          </button>
          <!-- <button class="btn-masajid" style="aspect-ratio: 1 / 1; width: 100%;letter-spacing: 1px;">
            <ion-icon name="map" style="font-size: 32px; vertical-align: middle;"></ion-icon><br>
             View Map
          </button> 
        <button class="btn-masjid" style="aspect-ratio: 1 / 1; width: 100%;">Button 5</button>
          <button class="btn-masjid" style="aspect-ratio: 1 / 1; width: 100%;">Button 6</button> -->
        </div>
      </div>
    </div>
  </ng-container>