<div id="splash" *ngIf="showSplash">
  <img src="../../assets/images/logo.png" alt="logo" />
  <br />
  <div style="color: darkgreen" id="splashText">
    {{ splashText }}<br /><br />
    {{ splashTextExtra }}<br />
    <div
      style="padding-top: 19px; color: darkgreen"
      id="btnLocDiv1"
      [hidden]="isLocationEnabled"
    >
      Please
      <button class="btn-masajid" (click)="showLocationSettings()">
        enable
      </button>
      <!-- <input type="button" value="enable" id="btnLocRequest" class="btn-masajid"/>  -->
      your location services
    </div>
    <div
      style="padding-top: 19px; color: darkgreen"
      id="btnLocDiv2"
      [hidden]="locationPermissionFailed"
    >
      Please give
      <button class="btn-masajid" (click)="requestLocationPermission()">
        permission
      </button>
      <!-- <input type="button" value="permission" id="btnLocRequest" class="btn-masajid"/>  -->
      to use your location
    </div>
  </div>
</div>
<app-timing-widjet></app-timing-widjet>
<div id="divOffline" class="offline" [hidden]="connected">You are offline</div>
<ion-menu contentId="main-content" (ionWillOpen)="menuWillOpen()">
  <div class="menu">
    <div style="text-align: center; margin-top: 12px">
      <img src="../../assets/images/logo.png" alt="Masjid near me" />
    </div>
    <ul id="mnuNav">
      <li *ngFor="let item of mnuItems" (click)="menuClick(item)">
        <div>
          {{item.name}}
          <ion-icon
            name="{{item.icon}}"
            style="vertical-align: middle"
          ></ion-icon>
        </div>
      </li>
      <li class="version" (click)="showAppVersion()">
        <div >
          <ion-icon name="information-circle-outline" style="vertical-align: middle;font-size: 18px;padding-right: 9px;"></ion-icon>
          <span>Version: {{version}}</span>
        </div>
      </li>
    </ul>
  </div>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-loader></app-loader>
  <ion-header style="background-color: transparent">
    <ion-toolbar style="background-color: transparent;" [ngStyle]="{'padding-top': osVersion >= 15 ? '32px' : ''}">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end" (click)="showSettings()">
        <ion-icon name="settings" style="vertical-align: middle"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" (click)="showCompass()">
        <ion-icon name="compass" style="vertical-align: middle"></ion-icon>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  <app-map></app-map>
</div>
