body {
  background: transparent;
}

.ion-page {
  background: transparent;
}

ion-icon {
  font-size: 28px;
  padding: 8px;
  box-shadow: #8c8c8c 1px 2px 3px;
  margin-left: 13px;
}

ion-toolbar {
  --background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  --background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, #99ccbe),
      color-stop(100%, #ffffff));
  --background: -webkit-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  --background: -o-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  --background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  --background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  --ion-color-base: transparent !important;
}

.menu {
  background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, #99ccbe),
      color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -o-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CCBE', endColorstr='#FFFFFF', GradientType=1);
  color: #17603a !important;
  border: 1px solid #99ccbe;
  text-shadow: 0 1px 0 rgb(255 255 255 / 30%);
  width: 100%;
  height: 100%;
  user-select: none;
}

#mnuNav {
  list-style: none;
  padding: 0;
  margin-top: 0px;
}

#mnuNav>ul {
  margin-top: 0px;
}

#mnuNav>li {
  background-color: lightgreen;
  padding: 1px;
  margin: 2px;
  border-radius: 3px;
}

#mnuNav>li div {
  cursor: pointer;
  background: -moz-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear,
      left top,
      right top,
      color-stop(0%, #99ccbe),
      color-stop(100%, #ffffff));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg,
      #99ccbe 0%,
      #ffffff 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg,
      #99ccbe 0%,
      #ffffff 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  /* ie10+ */
  background: linear-gradient(0deg, #99ccbe 0%, #ffffff 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99CCBE', endColorstr='#FFFFFF', GradientType=1);
  /* ie6-9 */
  font-weight: 500;
  padding: 5px;
  padding-left: 31px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 30%);
  letter-spacing: 2px;
}

#mnuNav>li div:hover {
  text-shadow: 0px 3px 4px #999;
}

#mnuNav>li div:hover>#mnulnkArr {
  color: lightgreen;
}

ion-content {
  --background: transparent;
}

ion-menu {
  --width: 214px;

  div {
    text-align: right;
  }
}

ion-icon {
  box-shadow: none;
  padding: 1px;
}

#splash {
  position: fixed;
  padding-top: 152px;
  z-index: 2000;
  margin: 0;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #edfffa;
}

.btn-masajid {
  background: -webkit-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%);
  background: -o-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%);
  background: linear-gradient(180deg, rgba(180, 240, 223, 1) 0%, rgba(255, 245, 245, 1) 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.77);
  border-collapse: collapse;
  /*border-radius:6px;*/
  color: #000;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

.offline {
  color: red;
  position: absolute;
  z-index: 2001;
  top: 10%;
  left: 35%;
  font-size: smaller;
}
.toastClass{
  --background: #FFF !important;
}
